<h2 class="heading main-heading">Welcome
  <h4 class="sub-heading">to MEANSurveys</h4>
</h2>
<div class="welcome-container">
  <!--Create Survey Card-->
  <div class="w-create-survey">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Create</mat-card-title>
        <mat-card-subtitle>a new survey</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          If you are an admin, you can create new surveys.
        </p>
        <p>
          Participants will take part and you can take a look at the results.
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-stroked-button color="primary">Go</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <!--Participate in Survey Card -->
  <div class="w-participate-survey">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Participate</mat-card-title>
        <mat-card-subtitle>in a survey</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          If you are an regulare user, you can take part in surveys.
        </p>
        <p>
          Click on Surveys and look at the results of each survey.
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-stroked-button color="primary">Go</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <!--About the Authors Card-->
  <div class="w-about-authors">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>About</mat-card-title>
        <mat-card-subtitle>the app</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Find out about the app and what it does.
        </p>
        <p>
          Click and GitHub opens in a new tab.
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <a mat-stroked-button color="primary" target="_blank" rel="noopener noreferrer" href="https://github.com/minau87/meansurveys">Go</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
