<mat-toolbar color="primary" id="navbar" class="mat-elevation-z4">
  <button type="button" mat-button color="secondary" routerLink="" routerLinkActive="active">
    <!--<i class="material-icons md-24">home</i>-->
    <span class="branding">MEAN</span>
    <span>Surveys</span>
  </button>
  <!-- <button type="button" mat-button matTooltip="Create a new survey and show existing ones!" routerLink="/surveys" routerLinkActive="active">
    <i class="material-icons md-24">assignment</i> Surveys
  </button> -->

  <mat-menu #surveyMenu="matMenu">
    <button mat-menu-item type="button" matTooltip="Create a new Survey" routerLink="/create-survey" routerLinkActive="active">
      <mat-icon>playlist_add</mat-icon>New
    </button>
    <button mat-menu-item matTooltip="Show an overview of all surveys" routerLink="/surveys">
      <mat-icon>list</mat-icon>Overview
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="surveyMenu">
    <mat-icon>assignment</mat-icon> Surveys
  </button>

  <span class="fill-remaining-space"></span>

  <mat-menu #rootMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">
      <mat-icon>explore</mat-icon> About the app
    </button>
    <button mat-menu-item routerLink="/about" routerLinkActive="active">
      <mat-icon>group</mat-icon> About the authors
    </button>
  </mat-menu>

  <mat-menu #subMenu="matMenu">
    <!-- <button mat-menu-item href="https://github.com/minau87/meansurveys">
        <mat-icon>device_hub</mat-icon> API Endpoints
      </button> -->
    <a mat-menu-item target="_blank" rel="noopener noreferrer" href="https://github.com/minau87/meansurveys#rest-api-documentation">
      <mat-icon>device_hub</mat-icon> API Endpoints
    </a>
    <!-- Not yet implemented-->
    <button mat-menu-item>
      <mat-icon>help</mat-icon> Help
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="rootMenu">
    <mat-icon>info</mat-icon> About
  </button>

  <mat-menu #authMenu="matMenu">
    <button mat-menu-item type="button" matTooltip="Go to your profile" routerLink="profile" routerLinkActive="active">
      <mat-icon>face</mat-icon>Profile
    </button>
    <button mat-menu-item matTooltip="Logout">
      <mat-icon>power_settings_new</mat-icon>Logout
    </button>
  </mat-menu>

  <button type="button" mat-button [matMenuTriggerFor]="authMenu" matTooltip="Check out your profile or log out">
    <mat-icon>perm_identity</mat-icon> Bob
  </button>
</mat-toolbar>
