@import "../styles/custom-theme.scss";
@import "~@angular/material/theming";

$c-primary: mat-palette($p-primary);
$c-accent:  mat-palette($p-accent);
$c-warn:    mat-palette($p-warn);

$primary: mat-color($c-primary);
$accent:  mat-color($c-accent);
$warn:    mat-color($c-warn);

$primary-text: #212121;
$secondary-text: #757575;
$background: #333;

/*Set the text color appropriate for background color*/
@function set-text-color($color){
  @if(lightness($color) > 40){
    @return #000;
  } @else {
    @return #fff;
  }
}