<!-- Loading Progress Indicator-->
<mat-progress-bar class="progress-bar-top" *ngIf="loading" [color]="barColor" [mode]="barMode"></mat-progress-bar>
<mat-progress-spinner *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-spinner>
<div *ngIf="!loading" class="survey-detail-container">
  <h2 class="heading main-heading">
    {{survey.name}}
    <h4 class="sub-heading">by {{ survey.creator.username }}</h4>
  </h2>
  <!-- Container for survey details -->
  <div class="survey-details">
    <h4>Details</h4>
    <mat-divider></mat-divider>
    <h5>Description</h5>
    <p>This survey is about Herp Derp.</p>
    <mat-divider></mat-divider>
    <h5>Status</h5>
    <table mat-table [dataSource]="surveyToArray()" class="survey-table mat-elevation-z8" matSort matSortActive="startDate" matSortDisableClear
      matSortDirection="asc">

      <!-- Number of questions Column -->
      <ng-container matColumnDef="numQuestions">
        <th mat-header-cell *matHeaderCellDef>Number of questions</th>
        <td mat-cell *matCellDef="let survey">{{survey.questions.length}}</td>
      </ng-container>

      <!-- Number of participants Column -->
      <ng-container matColumnDef="numParticipants">
        <th mat-header-cell *matHeaderCellDef>Number of participants</th>
        <td mat-cell *matCellDef="let survey">{{survey.participantsCount}}</td>
      </ng-container>

      <!-- Start Data Column -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let survey">{{survey.startDate | date}}</td>
      </ng-container>

      <!-- End Data Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          End Date
        </th>
        <td mat-cell *matCellDef="let survey">{{survey.endDate | date}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sl-header-row"></tr>
      <tr mat-row *matRowDef="let survey; columns: displayedColumns;"></tr>
    </table>
  </div>
  <!-- Container for survey results -->
  <div class="survey-results">
    <h4>Results</h4>
    <mat-divider></mat-divider>
    <div *ngIf="survey.answers.length > 0">
        <h5>{{chartConfig.currentQuestion + 1}}. {{survey.questions[chartConfig.currentQuestion].question}}</h5>
        <button color="primary" mat-icon-button (click)="previousQuestion()" style="margin-right: .5rem;" matTooltip="Previous question">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button color="primary" mat-icon-button (click)="nextQuestion()" matTooltip="Next question">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <button (click)="switchResultView()" color="warn" mat-icon-button matTooltip="Switch result view"> 
          <mat-icon *ngIf="viewAsChart">table_chart</mat-icon>
          <mat-icon *ngIf="!viewAsChart">pie_chart</mat-icon>
        </button>
        <div *ngIf="viewAsChart">
            <div  style="display: block" *ngIf="chartConfig.pieChartLabels.length > 0">
                <canvas baseChart #chart="base-chart"
                        [data]="chartConfig.pieChartData"
                        [labels]="chartConfig.pieChartLabels"
                        [chartType]="chartConfig.pieChartType"
                        [legend]="chartConfig.displayLegend"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
        </div>
        <div *ngIf="!viewAsChart">
          <h5>You are now looking at the raw data for the results of this question.</h5>
          <table mat-table [dataSource]="resultTableData" class="survey-table mat-elevation-z8">
            <ng-container [matColumnDef]="column" *ngFor="let column of resultTableColumns; let i = index;">
              <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
              <td mat-cell *matCellDef="let element"> {{ element[i] }}</td>
            </ng-container> 
              
            <tr mat-header-row *matHeaderRowDef="resultTableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: resultTableColumns;"></tr>
          </table>
        </div>
    </div>
    <div *ngIf="survey.answers.length == 0">
      <h5>No results yet!</h5>
      <p>Noone has participated in this survey up until now.</p>
    </div>
  </div>
  <div class="survey-participation-area">
    <mat-divider></mat-divider>
    <h5 *ngIf="!survey.isExpired && canParticipate() == true">If you want to participate in this survey, click the button below.</h5>
    <h5 *ngIf="canParticipate() == false">You have already participated in this survey.</h5>
    <h5 *ngIf="survey.isExpired">This survey has ended. You can't participate anymore.</h5>
    <button color="primary" [disabled]="survey.isExpired || canParticipate() == false" (click)="participate()" mat-stroked-button style="margin-right: .5rem;">Participate</button>
    <button color="warn" mat-stroked-button (click)="navigateToOverview()">Back</button>
  </div>
</div>
