.survey-detail-container{
  // width: 100%;
  display: grid;
  grid-template-areas: 
  "heading heading"
  "survey-details survey-results"
  "survey-participate survey-participate";
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: .5rem;
  .heading{
    grid-area: heading;
  }
  .survey-details{
    grid-area: survey-details;
    padding: 0rem 0rem 0rem 16px;
    .survey-table{
      width: 100%;
    }
  }
  .survey-results{
    grid-area: survey-results;
    padding: 0rem 16px 0rem 0rem;
    .survey-table{
      width: 100%;
    }
  }
  .survey-participation-area{
    padding: 0rem 0rem 0rem 16px;
    grid-area: survey-participate;
    margin-bottom: 100px;
    button:first-child{
      margin-right: .5rem;
    }
  }
}