@import "../styles/_mixins.scss";

.registration-form-container{
  display: grid;
  grid-template-areas: 
  "heading heading heading" 
  ". registration-form ." 
  ". . .";
  height: calc(100vh - 64px - 60px);
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
  .heading{
    grid-area: heading;
    max-height: 40px;
  }
  .registration-form{
    grid-area: registration-form;
    padding: .5rem;
    width: 100%;
    // background-color: $background;
    mat-form-field{
      display: block;
    }
    mat-form-field.mat-form-field {
      font-size: .9rem;
    }
    .form-buttons{
      margin-top: .5rem;
      display: grid;
      grid-template-areas: "register-button login-button";
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5rem;
      .register-button{
        grid-area: register-button;
      }
      .login-button{
        grid-area: login-button;
      }
      button:nth-child(2)::before{
        content: "Already a user? Click Login!";
        position: absolute;
        bottom: -2rem;
        right: 0;
      }
      .form-invalid{
        cursor: not-allowed;
      }
    }
  }
}
