@import "../styles/_mixins.scss";
.profile-container{
  display: grid;
  height: calc(100vh - 64px - 60px - 60px);
  grid-template-areas: 
  "profile-picture profile-info profile-info";
  grid-column-gap: .5rem;
  grid-template-columns: 1fr 2fr;
  .profile-picture-container, .profile-info-container{
    // padding: 1rem;
  }
  .profile-picture-container{
    grid-area: profile-picture;
    display: grid;
    grid-template-areas: 
    "section-title"
    "upload-section"
    "choosen-picture-section";
    grid-template-rows: auto auto 1fr;
    // height: 100%;
    padding: 0rem 0rem 1.5rem 1rem;
    .section-title{
      grid-area: section-title;
    }
    // .thumbnail-section{
    //   grid-area: thumbnail-section;
    // }
    .upload-section{
      grid-area: upload-section;
    }
    .choosen-picture-section{
      grid-area: choosen-picture-section;
      padding: 16px 0rem .5rem 0rem;
      div{
        height: 100%;
        // width: 100%;
        img{
          height: 100%;
          max-height: 305px;
          width: 100%;
          border: 1px solid $accent;
          border-radius: .5rem;
          box-sizing: border-box;          
        }        
      }
    }
  }
  .profile-info-container{
    grid-area: profile-info;
    padding: 0rem 1rem 1.5rem 0rem;
    ul{
      list-style: none;
      padding-left: 0;
    }
  }
}