@import "../styles/_mixins.scss";
.cs-container {
  display: grid;
  grid-template-areas: "cs-editor-section cs-preview-section";
  grid-template-columns: 2fr 1fr;
  grid-gap: .5rem;
  height: calc(100vh - 64px - 60px);
  .cs-editor-section {
    grid-area: cs-editor-section;
    display: grid;
    grid-template-areas: 
    "cs-section-heading"
    "cs-survey-toolbar-area"
    "cs-survey-name-area"
    "cs-limit-survey-area" 
    "cs-question-settings-area" 
    // "cs-question-counter-area" 
    "cs-question-input-area";
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    // grid-template-rows: 60px 60px 60px 60px 60px auto;
    grid-auto-rows: min-content;
    padding: 0px 0px 0px 16px;
    .cs-section-heading {
      grid-area: cs-section-heading;
      margin-bottom: 16px;
    }
    .cs-survey-toolbar-area{
      grid-area: cs-survey-toolbar-area;
      button:nth-child(2){
        margin-left: .5rem;
      }
      margin-bottom: .5rem;
    }
    .cs-survey-name-area {
      grid-area: cs-survey-name-area;
      width: 100%;
      mat-form-field{
        width: 100%;
      }
      // margin-bottom: .5rem;
    }
    .cs-limit-survey-area {
      grid-area: cs-limit-survey-area;
      display: grid;
      grid-template-areas: "cs-limited-toggle cs-limited-slider";
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5rem;
      .cs-limited-toggle {
        grid-area: cs-limited-toggle;
      }
      .cs-limited-slider {
        grid-area: cs-limited-slider;
        mat-slider {
          width: 100%;
        }
      }
    }
    .cs-question-settings-area {
      grid-area: cs-question-settings-area;
      display: grid;
      grid-template-areas: "cs-question-counter"; 
      // grid-template-columns: 1fr 2fr;
      grid-gap: 0.5rem;
      // .cs-question-type-radio{
      //   grid-area: cs-question-type-radio;
      // } 
      .cs-add-question-button {
        grid-area: cs-add-question-button;
      }
      .cs-question-counter{
        grid-area: cs-question-counter;
        overflow-y: auto;
        text-align: justify;
        .question-index-label {
          color: $primary;
          font-size: .7rem;
          padding-right: .3rem;
        }
        .question-index-label:last-child() {
          padding-right: 0;
        }
        .question-index-label:hover {
          color: $warn;
          cursor: pointer;
        }
        .question-active {
          color: $warn; // border-bottom: 1px solid $warn;
        }        
      }
    }
    .cs-question-counter-area {
      grid-area: cs-question-counter-area;
      // .question-index-label {
      //   color: $primary;
      //   font-size: .7rem;
      //   padding-right: .3rem; // border-bottom: 1px solid $primary;
      // }
      // .question-index-label:last-child() {
      //   padding-right: 0;
      // }
      // .question-index-label:hover {
      //   color: $warn;
      //   cursor: pointer;
      // }
      // .question-active {
      //   color: $warn; // border-bottom: 1px solid $warn;
      // }
    }
    .cs-question-input-area {
      grid-area: cs-question-input-area;
      .cs-question-input-wrapper {
        width: 100%;
        textarea {
          width: 100%;
          resize: none;
          box-sizing: border-box;
        }
      }
    }
    .cs-submit-survey-area{
      grid-area: cs-submit-survey-area;
    }
  }
  .cs-preview-section {
    grid-area: cs-preview-section;
    padding: 0px 16px 0px 0px;
    display: grid;
    grid-template-areas: "section-heading" "preview-area";
    grid-template-rows: 60px auto;
    .section-heading {
      grid-area: section-heading;
    }
    .preview-area {
      grid-area: preview-area;
      div {
        width: 100%;
        word-break: break-word;
        text-align: justify;
        pre {
          margin-bottom: 60px;
          white-space: pre-wrap;
          /* Since CSS 2.1 */
          white-space: -moz-pre-wrap;
          /* Mozilla, since 1999 */
          white-space: -pre-wrap;
          /* Opera 4-6 */
          white-space: -o-pre-wrap;
          /* Opera 7 */
          word-wrap: break-word;
          /* Internet Explorer 5.5+ */
        }
      } // pre{
      //   margin-bottom: 60px;
      // }
    }
  }
  .cs-element {
    position: relative;
    .cs-label {
      font-size: .8rem;
      font-weight: bolder;
      margin-bottom: .25rem;
    }
    .cs-label-after {
      // parent has to be position: relative; See .cs-element{}
      position: absolute;
      top: 1.25rem;
      left: 0.5rem;
      font-size: .65rem;
      color: $accent;
    }
    .type-radio-group {
      display: inline-flex;
      flex-direction: row;
    }
    .type-radio-button {
      margin: 5px;
    }
  }
}
